# Database connection string
DATABASE_URL=mongodb://127.0.0.1/test-payload
# Or use a PG connection string
#DATABASE_URL=postgresql://127.0.0.1:5432/your-database-name
# Used to encrypt JWT tokens
PAYLOAD_SECRET=
# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=https://localhost:3000
# Secret used to authenticate cron jobs
CRON_SECRET=
# Used to validate preview requests
PREVIEW_SECRET=
# Added by Payload
RESEND_API_KEY=
R2_BUCKET=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_ENDPOINT=
R2_PUBLIC_URL=
